.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 50%;
    height: auto;
    padding-bottom: 10px;
  }

.checkoutProduct__rating {
    display: flex;
  }

  .checkoutProduct__price {
    padding-bottom: 10px;
  }


.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 10px;
}

article > img{
    max-width: 50%;
    padding-left: 10px;
}

.addtocart{
    float:bottom;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 10px;
    background-color:#ffb700;
    border-radius: 10px 10px 10px 10px;
    width:70%;
}

.addtocart:hover{
    background-color: #ffa900;;;
}

 h4 {
    margin-top: 0;
    margin-bottom: 50px;
  }
  /* a:link, a:visited {
    transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
  } */
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #ffb700;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #ffa900;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 5px 0 0 5px;
  }
  .quantity__plus {
    border-radius: 0 5px 5px 0;
  }
  .quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 0px solid #dee0ee;
    border-right: 0px solid #dee0ee;
    background: #fff;

  }
